In [4]:
import pandas as pd

### DataFrame 생성하기 : Dictionary

In [2]:
friend_dict_list = [
    {'name' : 'John', 'age' : 25, 'job' : 'student'},
    {'name' : 'Nate', 'age' : 30, 'job' : 'teacher'}
]

In [5]:
df = pd.DataFrame(friend_dict_list) # 딕셔너리는 key의 순서가 보장되지 X
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [6]:
df = df[['name', 'age', 'job']] # 컬럼을 명시해서 순서를 정해주거나
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [8]:
# ordered dict 사용
from collections import OrderedDict
friend_ordered_dict = OrderedDict(
    [
        ('name', ['John', 'Nate']),
        ('age', [25, 30]),
        ('job', ['student', 'teacher']),
    ]
)
df = pd.DataFrame.from_dict(friend_ordered_dict)
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

### DataFrame 생성하기 : List

In [9]:
friend_list = [
    ['John', 20, 'student'],
    ['Nate', 30, 'teacher']
]
# 컬럼 네임을 따로 만들어주는 방식
column_name = ['name', 'age', 'job']

df = pd.DataFrame.from_records(friend_list, columns=column_name)
df.head()

   name  age      job
0  John   20  student
1  Nate   30  teacher

In [13]:
friend_list = [
    ['name', ['John', 'Nate']],
    ['age', [20, 30]],
    ['job', ['student', 'teacher']]
]

# from_items는 pandas에서 삭제됨 ... 아래처럼 사용 !! 
df = pd.DataFrame.from_dict( dict(friend_list) )
df.head()

   name  age      job
0  John   20  student
1  Nate   30  teacher

###