# 1ì£¼ì°¨ í•™ìŠµ ë…¸íŠ¸

In [4]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/isdiscodead/Library/Python/3.9/lib/python/site-packages (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/isdiscodead/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/isdiscodead/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /Users/isdiscodead/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.22.4 in /Users/isdiscodead/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.0)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)
WARNING: You are using pip version 21.2.4; however, version 23.2.1 is available.
You should consider upgrading via the '/Applications/Xcode.app/Contents/Developer/usr/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

## I. ë°ì´í„° ë¶„ì„ í™˜ê²½ êµ¬ì„±
### 1.1 ë¬´ì—‡ì„ ë¶„ì„í•  ê²ƒì¸ê°€? ë°ì´í„° ë¶„ì„ì„ ìœ„í•œ í™˜ê²½ ë§Œë“¤ê¸°
ëª©ì  -> íš¨ê³¼ì  í•™ìŠµ ê°€ëŠ¥, ì´ìœ  -> ë°ì´í„°ë¥¼ í†µí•œ insight 

### 1.2 ì•„ë‚˜ì½˜ë‹¤ ì†Œê°œ ë° ì£¼í”¼í„° ë…¸íŠ¸ë¶ ì‚¬ìš©ë²•
`... ìƒëµ`


## II. ë°ì´í„° ë¶„ì„ ì¤€ë¹„í•˜ê¸°

### 2.1 ë°ì´í„° ë¶„ì„ì„ ìœ„í•œ íŒŒì´ì¬ ì†ì„± ì½”ìŠ¤
`... ìƒëµ`
### 2.2 íŒë‹¤ìŠ¤ ì¹˜íŠ¸ ì‹œíŠ¸ë¥¼ í™œìš©í•œ ê¸°ì´ˆ ìµíˆê¸°
panel data systemì˜ ì•½ì -> ëŒ€ìš©ëŸ‰ì˜ í–‰ê³¼ ì—´ë¡œ ëœ ë°ì´í„°ë¥¼ ìœ„í•¨ 

- data frame : 2ì°¨ì› í–‰ë ¬
- series : 1ì°¨ì› ë°ì´í„°

In [20]:

import pandas as pd

# data frame í‘œ í˜•íƒœ ( 2ì°¨ì› )
# pd.DataFrame?

df = pd.DataFrame(
    {"a" : [4, 5, 6],
     "b" : [7, 8, 9],
     "c" : [10, 11, 12]},
    index = [1,2,3]
)

df


# series 1ì°¨ì› 
df["a"]
df[["a"]] # data frame
df[["a", "b"]] # data frame


# subset
df[df["a"] > 4] # 2, 3ë²ˆì§¸ ê°’ë§Œ ê°€ì ¸ì˜´


# summarize data
df["a"].value_counts() # ë¹ˆë„
len(df) # ê¸¸ì´


# reshaping
df.sort_values("a", ascending=False)
df = df.drop(["c"], axis=1) # ì»¬ëŸ¼(ì—´) ë“œë ... ë‹¤ì‹œ ë‹´ì•„ì¤˜ì•¼ í•¨


# group data
df.groupby(["a"])["b"].mean().agg(["mean", "sum", "count"])
df.groupby(["a"])["b"].describe()
pd.pivot_table(df, index="a", values="b", aggfunc="sum") # ê¸°ë³¸ì ìœ¼ë¡œ í‰ê·  ê°’ ê³„ì‚°


# plotting
# df.plot.area()
# df.plot.bar()

   b
a
4  7
5  8
6  9

### 2.3 íŒŒì¼ ê²½ë¡œ ì„¤ì • ë°©ë²•

# 1ì£¼ì°¨ ë¯¸ì…˜

 ë°ì´í„° ì‚¬ì´ì–¸ìŠ¤ë¥¼ ìœ„í•œ íŒŒì´ì¬ê³¼ íŒë‹¤ìŠ¤ ë™ê¸°ë¶€ì—¬

Q1. ì—¬ëŸ¬ë¶„ì€ íŒŒì´ì¬ì„ í†µí•´ ì„¤ë¬¸ì¡°ì‚¬ ë¬¸í•­ì˜ ì‘ë‹µë‚´ì—­ì„ ë¶„ì„í•˜ê²Œ ë˜ì—ˆìŠµë‹ˆë‹¤. ë¬¸í•­ë³„ ì‘ë‹µë‚´ìš©ì—ëŠ” í•˜ë‚˜ì˜ ì‘ë‹µë§Œ í•  ìˆ˜ ìˆëŠ” single choice ë¬¸ì œì™€ ì—¬ëŸ¬ ì‘ë‹µì„ ì„ íƒí•  ìˆ˜ ìˆëŠ” multiple choice ë¬¸ì œê°€ ìˆìŠµë‹ˆë‹¤. 2ê°œë¥¼ êµ¬ë¶„í•˜ê¸° ìœ„í•´ single choice ë¬¸í•­ ë²ˆí˜¸ì— "_"ë¥¼ í‘œê¸°í•˜ì§€ ì•Šê¸°ë¡œ í–ˆìŠµë‹ˆë‹¤.

ë¬¸í•­ë³„ ì‘ë‹µë‚´ì—­ì´ 'question'ì— ë‹´ê²¨ ìˆì„ ë•Œ, ì¡°ê±´ë¬¸ê³¼ ë°˜ë³µë¬¸ì„ ì‚¬ìš©í•˜ì—¬ ì•„ë˜ì™€ ê°™ì€ ê²°ê³¼ê°€ ì¶œë ¥ë˜ë„ë¡ ì½”ë“œë¥¼ ì‘ì„±í•´ë³´ì„¸ìš”.

In [ ]:
# ì‘ë‹µ ì„¤ë¬¸ ë¬¸í•­
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6',
       'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2',
       'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2',
       'Q10_3']

answer = []

for e in question :
    if ( not '_' in e ) :
        answer.append(e)

print(answer)

ğŸ“ŒQ2. í•œìŠ¤ ë¡œìŠ¬ë§(Hans Rosling, 1948ë…„ 7ì›” 27ì¼ ~ 2017ë…„ 2ì›” 7ì¼)ì€ ìŠ¤ì›¨ë´ì˜ ì˜ì‚¬ì´ì í†µê³„í•™ìë¡œ ë¹„ì˜ë¦¬ ë²¤ì²˜ ê°­ë§ˆì¸ë” ì¬ë‹¨ì˜ ê³µë™ì„¤ë¦½ìì´ê¸°ë„ í•©ë‹ˆë‹¤. ë¹…ë°ì´í„°ë¥¼ ê°€ì¥ ì˜ í™œìš©í•˜ëŠ” ë³´ê±´ í†µê³„í•™ìë¡œ ì•Œë ¤ì ¸ ìˆìŠµë‹ˆë‹¤. ë² ìŠ¤íŠ¸ì…€ëŸ¬ ì±…ì¸ "íŒ©íŠ¸í’€ë‹ˆìŠ¤" ì €ìì´ê¸°ë„ í•©ë‹ˆë‹¤. ê°­ë§ˆì¸ë” ì‚¬ì´íŠ¸ì—ì„œëŠ” ì—°ë„ë³„, êµ­ê°€ë³„ GDPì™€ ê¸°ëŒ€ìˆ˜ëª… ë°ì´í„°ë¥¼ ì œê³µí•˜ê³  ìˆëŠ”ë°, ëŒ€í‘œì ìœ¼ë¡œ íŒŒì´ì¬ ë¼ì´ë¸ŒëŸ¬ë¦¬ ì¤‘ 'seaborn'ì—ì„œ ì œê³µë˜ëŠ” ì˜ˆì œ ë°ì´í„°ê°€ ìˆìŠµë‹ˆë‹¤. ì˜¤ëŠ˜ì€ ì´ ë°ì´í„°ë¥¼ í™œìš©í•´ ë¬¸ì œë¥¼ í’€ì–´ë³´ê² ìŠµë‹ˆë‹¤.
ë‹¤ìŒì˜ ë°ì´í„°ëŠ” ì—°ë„, êµ­ê°€ë³„ ê¸°ëŒ€ìˆ˜ëª…ì„ ë‚˜íƒ€ë‚´ê³  ìˆëŠ” ë°ì´í„° ì…ë‹ˆë‹¤. 2011ë…„ ë¶€í„°ì˜ ì—°ë„ë³„, êµ­ê°€ë³„ í‰ê·  ê¸°ëŒ€ìˆ˜ëª…ì„ êµ¬í•´ì£¼ì„¸ìš”. (2011ë…„ë„ í¬í•¨ë˜ê²Œ êµ¬í•©ë‹ˆë‹¤.)

[í•„ìˆ˜ ì¡°ê±´] groupby ë‚˜ pivot_tableì„ í™œìš©í•©ë‹ˆë‹¤. groupby ë¡œ êµ¬í•  ë•Œ unstack()ì´ë¼ëŠ” ê¸°ëŠ¥ì„ ì‚¬ìš©í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ ì»¬ëŸ¼ì— ì¸ë±ìŠ¤ ê°’ì„ ì˜¬ë ¤ì„œ í‘œê¸°í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
ë§Œì•½ í–‰ì—ëŠ” 'ì—°ë„'ê°€, ì—´ì— 'êµ­ê°€'ê°€ ë“¤ì–´ìˆê³  ìˆ˜ì¹˜ ë°ì´í„°ì˜ ê²°ê³¼ê°’ì´ ì•„ë˜ì™€ ê°™ë‹¤ë©´, ì¶œë ¥í˜•íƒœëŠ” ì¡°ê¸ˆ ë‹¬ë¼ë„ ê´œì°®ìŠµë‹ˆë‹¤.

In [27]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df = df.dropna(axis=0)
df = df[df["Year"] >= 2011]
df.pivot_table(index="Year", values="Life_Expectancy", columns="Country")

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

ğŸ“ŒQ4. ì•ìœ¼ë¡œ ìš°ë¦¬ëŠ” ê³µê³µë°ì´í„°í¬í„¸ì—ì„œ ë°ì´í„°ë¥¼ ë‹¤ìš´ë¡œë“œ ë°›ì•„ ê³¼ì •ì„ ì§„í–‰í•  ì˜ˆì •ì…ë‹ˆë‹¤. ë³¸ê²©ì ì¸ í•™ìŠµ ì´ì „ì—! ë°ì´í„°ë¥¼ ë‹¤ë£¨ëŠ” ë°©ë²•ì´ ìµìˆ™í•´ì§€ë„ë¡ í•œë²ˆ ë” ì—°ìŠµí•´ë³´ê³ , ì–´ë–¤ ë¬¸ì œë¥¼ í’€ ìˆ˜ ìˆì„ì§€ë„ í•¨ê»˜ ê³ ë¯¼í•´ë³´ì•„ìš”!

In [29]:
df = pd.read_csv("data/á„‰á…¥á„‹á…®á†¯á„á…³á†¨á„‡á…§á†¯á„‰á…µ á„€á…¡á†¼á„‚á…¡á†·á„€á…®_á„‰á…¢á†¼á„’á…ªá†¯á„‘á…¨á„€á…µá„†á…®á†¯á„‡á…¢á„á…®á†¯á„…á…£á†¼_20221019.csv", encoding="cp949")
df

    ê°•ë‚¨êµ¬  2019ë…„(ìƒí™œíê¸°ë¬¼)-í†¤  2020ë…„(ìƒí™œíê¸°ë¬¼)-í†¤
0   01ì›”            7550            7350
1   02ì›”            6387            6688
2   03ì›”            7198            6973
3   04ì›”            6820            6448
4   05ì›”            7767            6470
5   06ì›”            7275            7923
6   07ì›”            8164            8015
7   08ì›”            7807            7859
8   09ì›”            6811            7452
9   10ì›”            7222            6875
10  11ì›”            7592            7337
11  12ì›”            7298            6911